body {
    font-family:sans-serif;
}
#intro {
    width:700px;
    margin-left:-390px;
    position:fixed;
    left:50%;
    top:60px;
    padding:10px 30px;
}
h1 {
    text-align:center;
    }
.continue {
    padding:10px 0;
    text-align:center;
}